.todoContainer{
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.todo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.operations{
  display: flex;
  gap: 10px;
}
.hoverPointer{
  cursor: pointer;
}